body {
  background: url('./lightpaperfibers.png')
}

.but-why {
  font-size: 6em;
  margin-top: 160px;
}

.intro {
  margin-top: 50px;
  text-align: center;
}

.jumbotron {
  -webkit-box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.75);
}

.well {
  margin-top: 25px;
}

img {
  margin-top: 25px;
}